<h1>Welcome to the Cookbook</h1>

<p>
  This is your cookbook <ul>
  <li>Click <a href=http://localhost:4567/list>here</a> to discover the list of recipes!</li>
  <li>Click <a href=http://localhost:4567/create>here</a> to create a new recipe!</li>
  <li>Click <a href=http://localhost:4567/delete>here</a> to delete a recipe :(</li>
  <li>Click <a href=http://localhost:4567/import>here</a> to import a recipe from Marmiton.org!</li>
  <li>Click <a href=http://localhost:4567/mark_as_done>here</a> to mark a recipe as done</li>
  </ul>
</p>
