<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cookbook Sinatra</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="application.css">
  </head>
  <body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://localhost:4567/">Cookbook</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://localhost:4567/">Home</a></li>
      <li><a href="http://localhost:4567/list">List of recipes</a></li>
      <li><a href="http://localhost:4567/create">Create a recipe</a></li>
      <li><a href="http://localhost:4567/delete">Delete a recipe</a></li>
      <li><a href="http://localhost:4567/import">Import a recipe from Marmiton</a></li>
      <li><a href="http://localhost:4567/mark_as_done">Mark a recipe as done</a></li>
    </ul>
  </div>
</nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <%= yield %>
        </div>
      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="application.js"></script>
  </body>
</html>
